@model IEnumerable<MovieApp.Entity.TheatreModel>
@{
    ViewData["Title"] = "SelectTheatre";
}
<a asp-action="AddPlay" asp-controller="Theatre">Add TheatrePlay</a>
<h1>SelectTheatre</h1>

<hr />
<form>
<table class="table table-striped">
  <tr><td></td><td>Id</td> <td>Name</td> <td>Play</td> <td>Capacity</td><td>Edit</td><td>Delete</td></tr>
    @{
    
    foreach(var item in Model)
    {
       <tr><td><input type="checkbox" /></td><td>@item.ThreatreId</td><td>@item.ThreatreName </td><td>@item.ThreatrePlayName</td><td>@item.ThreatreCapacity</td>
        <td><a asp-action="EditTheatre" asp-controller="Theatre" asp-route-TheatreId="@item.ThreatreId">Edit</a></td>
        <td><a asp-action="Delete" asp-controller="Theatre" asp-route-TheatreId="@item.ThreatreId">Delete</a></td>
       </tr>
       

    }

}

</table>
</form>